include README.rst
include fishergw/taylorf2/README.rst
include fishergw/detector/*psd.dat
include fishergw/detector/README.rst
include fishergw/cosmology/README.rst
include fishergw/cosmology/redshift_distance_table.dat
